<footer class="site-footer">
  <div class="wrapper">
    <aside class="external-links">
      <p>
        join us on <a href="{{ site.data.meetup }}" rel="me">Meetup.com</a>
      </p>
      <p>
        contribute to this site <a href="{{ site.data.source }}">on GitHub</a>
      </p>
    </aside>
  </div>
</footer>
