<header class="site-header">
  <div class="wrapper">
    <div class="left">
      <a class="site-title" href="{{ site.base_url }}/">
        {{ site.title }}
      </a>
      <p class="byline">
        {{ site.description }}
      </p>
    </div>
    <div class="right">
      <a href="{{ site.base_url }}/">
        <!-- Insert logo here -->
      </a>
    </div>
  </div>
</header>
